workflows/qualified-candidate-assignment-generator-distributor.json
{
  "name": "Qualified Candidate Assignment Generator and Distributor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "candidate-screening",
        "options": {}
      },
      "id": "2ef570b9-33a5-4ed9-800b-d1efc2dbb9f8",
      "name": "Receive Candidate Data",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        -768
      ],
      "webhookId": "candidate-webhook-001"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a personalized technical assignment for a candidate with the following skills: {{ $('Get a row1').item.json.skills }}\n\nThe assignment should be challenging, practical, and tailored to their skill set. Include clear requirements, expected deliverables, and a suggested timeline. Make it engaging and relevant to real-world scenarios.",
        "options": {
          "systemMessage": "You are a technical assignment generator for a hiring pipeline.\n\nGenerate a technical assignment in this EXACT format:\n\nTITLE: [Short assignment title - max 5 words]\n\nOVERVIEW:\n[2-3 lines brief overview]\n\nREQUIREMENTS:\n[3-4 bullet points only]\n\nDELIVERABLES:\n[2-3 bullet points]\n\nKeep it concise and professional. No lengthy explanations.",
          "maxIterations": 10
        }
      },
      "id": "1c57ca31-bad7-4e55-9e68-4c0789cb2210",
      "name": "Generate Technical Assignment",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        352,
        144
      ]
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.7
        }
      },
      "id": "e7af6a54-88a9-4f3c-b7fd-912e7dcc9e2f",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        400,
        384
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "4fHnfGmibjC6le8Z",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get a row1').item.json.email }}",
        "subject": "=Congratulations! Your Technical Assignment -  {{ $('Get a row1').item.json.name }}",
        "message": "=<p>Dear {{ $('Get a row1').item.json.name }},</p>\n<p>Congratulations on passing our initial screening! Based on your impressive skills in {{ $('Get a row1').item.json.skills }}, we have created a personalized technical assignment for you.</p>\n<p><strong>Your Assignment:</strong></p>\n<pre>{{ $('Generate Technical Assignment').item.json.output }}</pre>\n<p>Please complete this assignment and submit it within 7 days.</p>\n<p>\n  <a href=\"https://assignment-portal-mauve.vercel.app?resumeUrl={{ $execution.resumeUrl }}\">\n    Submit Assignment Here\n  </a>\n</p>\n<p>Best regards,<br>The Hiring Team</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "ed16d0ad-57f6-40f0-8cc4-1a010e674932",
      "name": "Send Assignment Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1472,
        128
      ],
      "webhookId": "6a972ac7-bfa9-4164-a790-089647b1b653",
      "credentials": {
        "gmailOAuth2": {
          "id": "1104BNfDslKvpAXu",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Receive Candidate Data').item.json.body.email ?? $('Receive Candidate Data').item.json.email }}",
        "subject": "=Thank you for your application - {{ $(\"Receive Candidate Data\").item.json.body.candidateName }}",
        "message": "=<p>Dear {{ $(\"Receive Candidate Data\").item.json.body.candidateName }},</p><p>Thank you for taking the time to apply for the position and completing our initial assessment.</p><p>After careful review, we have decided to move forward with other candidates whose qualifications more closely match our current needs.</p><p>We appreciate your interest in our company and wish you the best in your job search.</p><p>Best regards,<br>The Hiring Team</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "30dd80c9-4842-415f-9d26-c2534829933b",
      "name": "Send Rejection Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        464,
        -560
      ],
      "webhookId": "75a4846d-02c5-4558-adb2-952605395c45",
      "credentials": {
        "gmailOAuth2": {
          "id": "Aqom7Wjg1gMTp9Go",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $input.item.json.email }}",
        "subject": "Interview Scheduling - DigitalSofts",
        "message": "=<p>Dear {{ $input.item.json.name }},</p>\n<p>Congratulations! You have successfully submitted your assignment.</p>\n<p>We have reviewed your work and would like to schedule an interview with you.</p>\n<p>Please use the link below to book your interview slot.</p>\n<p>Best regards,<br>The Hiring Team</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "fd9074d6-7f38-4132-a2ef-b19ac59630f3",
      "name": "Send Interview Scheduling Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2768,
        -144
      ],
      "webhookId": "38831a76-2b9c-466a-a5f6-49d2c50bd253",
      "credentials": {
        "gmailOAuth2": {
          "id": "1104BNfDslKvpAXu",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af7a6a9b-df40-4921-a289-1ba59b046847",
              "name": "bookingLink",
              "value": "==https://cal.com/usman-tariq-bp2n7y/technical-review?name={{$json.candidateName}}&email={{$json.email}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "967e2902-8358-472c-a6a3-09d9e8742650",
      "name": "Create Cal.com Booking Link",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        -144
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "candidates",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $json.body.email ?? $json.email }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "selected"
            },
            {
              "fieldId": "cal_booking_status",
              "fieldValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3360,
        32
      ],
      "id": "92c4fab6-0d8e-4597-ae50-00c38b2a0d21",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "J0YHsIDipX8j8qwL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "candidates",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $('Receive Candidate Data').item.json.body.email }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "rejected"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        816,
        -560
      ],
      "id": "970a5318-4cff-4207-960f-5d9d2d210cc8",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "J0YHsIDipX8j8qwL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1728,
        48
      ],
      "id": "54dc7cea-13cf-46c2-ab78-ac789c76ba29",
      "name": "Wait",
      "webhookId": "861b15ca-eafd-468b-8da1-625e215720d2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "flowmingo-result",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1360,
        368
      ],
      "id": "789f3fef-a2b8-44d0-a00a-a97c2f387ff9",
      "name": "FLowmingow",
      "webhookId": "0667e26d-d4a8-4d2b-bdd5-0ebff4f2382b"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get a row1').item.json.email }}",
        "subject": "=Thank you for your application - {{ $('Get a row1').item.json.name }}",
        "message": "=<p>Dear {{ $('Get a row1').item.json.name }},</p>\n<p>Thank you for taking the time to apply for the position and completing our initial assessment.</p>\n<p>After careful review, we have decided to move forward with other candidates whose qualifications more closely match our current needs.</p>\n<p>We appreciate your interest in our company and wish you the best in your job search.</p>\n<p>Best regards,<br>The Hiring Team</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "066eeb93-b4ce-45f5-bf61-05ca0f648055",
      "name": "Send Rejection Email1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        32,
        640
      ],
      "webhookId": "75a4846d-02c5-4558-adb2-952605395c45",
      "credentials": {
        "gmailOAuth2": {
          "id": "Aqom7Wjg1gMTp9Go",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "candidates",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $('Get a row1').item.json.email }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "rejected"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        656
      ],
      "id": "188ac5a7-ced0-4fa3-a53d-333a51e99d52",
      "name": "Update a row2",
      "credentials": {
        "supabaseApi": {
          "id": "J0YHsIDipX8j8qwL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.score }}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "id": "603a72ec-10c2-4ce4-aee6-31d53261f9f9"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "e6183654-f836-4370-a744-da14fa4455eb",
      "name": "Check Score Above 50",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        -768
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "25eeb5cc-aa20-47a4-a74b-d1c125fa88f0",
              "leftValue": "={{ $json.interview_score }} ",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        368
      ],
      "id": "cf5b5009-466e-4689-b76f-5aa492476cb1",
      "name": "Check interview score above 50"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "assignments",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $('Check interview score above 50').item.json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2000,
        48
      ],
      "id": "adadbe58-26d4-4d9f-bd39-3520544c7600",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "J0YHsIDipX8j8qwL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a technical assignment reviewer.\n\nReview this candidate's submission:\n\nName: {{ $json.name }}\nGitHub Link: {{ $json.submitted_github }}\nExplanation: {{ $json.explanation }}\n\nEvaluate based on:\n1. Code quality\n2. Problem solving approach  \n3. Completeness\n4. Best practices\n\nGive score out of 100 and verdict.\n\nRespond in this EXACT JSON format only, no other text:\n{\n  \"score\": 85,\n  \"verdict\": \"PASS\",\n  \"feedback\": \"Good code structure...\"\n}\n\nPASS if score >= 50, FAIL if score less than 50."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        2208,
        48
      ],
      "id": "156e10bf-a81c-45ff-89dd-7bb1f5f7fd62",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "4fHnfGmibjC6le8Z",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0ffcc5cb-ff6b-4224-9550-1c7f869167a8",
              "leftValue": "={{ $json.verdict.replace(/\"/g, '').trim() }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2624,
        16
      ],
      "id": "4b931ede-fe21-4ae7-a894-21bcb78d31fe",
      "name": "check assignment score 50"
    },
    {
      "parameters": {
        "sendTo": "={{ $input.item.json.email }}",
        "subject": "=Thank you for your application - {{ $input.item.json.candidateName || $input.item.json.name }}",
        "message": "=<p>Dear {{ $input.item.json.candidateName || $input.item.json.name }},</p>\n<p>Thank you for taking the time to apply for the position and completing our initial assessment.</p>\n<p>After careful review, we have decided to move forward with other candidates whose qualifications more closely match our current needs.</p>\n<p>We appreciate your interest in our company and wish you the best in your job search.</p>\n<p>Best regards,<br>The Hiring Team</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "149ae16e-2e59-4da7-8028-5805232f16cb",
      "name": "Send Rejection Email2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2800,
        336
      ],
      "webhookId": "75a4846d-02c5-4558-adb2-952605395c45",
      "credentials": {
        "gmailOAuth2": {
          "id": "Aqom7Wjg1gMTp9Go",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "candidates",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $input.item.json.body.email }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "Interview Rejected"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3056,
        336
      ],
      "id": "e6076095-d99c-43bd-9721-4404b04bb81a",
      "name": "Update a row3",
      "credentials": {
        "supabaseApi": {
          "id": "J0YHsIDipX8j8qwL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $input.item.json.email }}",
        "subject": "Your Interview Invitation - DigitalSofts",
        "message": "=<p>Dear {{ $input.item.json.name }},</p> <p>Congratulations! You have passed our initial CV screening.</p> <p>Please complete your AI interview by clicking the link below:</p> <p><a href=\"https://talent.flowmingo.ai/interview/81de1861-3185-440e-9ae7-95c5c3b12431?project_id=782b38e4-1d72-4ca2-b390-5414de4bd08f\">Start Your Interview</a></p> <p>Please complete the interview at your earliest convenience.</p> <p>Best regards,<br>The Hiring Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        -816
      ],
      "id": "34abc3bf-3075-493d-9986-fd399caab886",
      "name": "Send a message",
      "webhookId": "43c43759-c4c3-4dae-9d74-e3573b99fa71",
      "credentials": {
        "gmailOAuth2": {
          "id": "qGGw8rLXW0cUP0Vq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wam.s0226.digitalsofts.com/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "dsautorecr_ex8b01782566917065"
            },
            {
              "name": "x-api-key",
              "value": " 57e12db9e36e2b82afa82c53b8c8453a1d37105fb201df9a2d164eae8bf3a4f6"
            },
            {
              "name": "content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"dsautorecr_ex8b01782566917065\",\n  \"phone\": \"{{ $('Get many rows').item.json.phone }}\",\n  \"message\": \"Dear {{ $('Get many rows').item.json.name }}, Please check your email for further details.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        -816
      ],
      "id": "11cd0ac6-48c0-457d-b6ab-00a19d92351d",
      "name": "HTTP Request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wam.s0226.digitalsofts.com/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "ds_auto_recruit_client_d29ed8mqwebg0a"
            },
            {
              "name": "x-api-key",
              "value": " 57e12db9e36e2b82afa82c53b8c8453a1d37105fb201df9a2d164eae8bf3a4f6"
            },
            {
              "name": "content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"dsautorecr_ex8b01782566917065\",\n  \"phone\": \"{{ $('Get many rows').item.json.phone }}\",\n  \"message\": \"Dear {{ $('Get many rows').item.json.name }}, Please check your email for further details.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        736,
        -320
      ],
      "id": "98e4cb12-4401-4f32-b007-85a01242ab14",
      "name": "HTTP Request1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wam.s0226.digitalsofts.com/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "dsautorecr_ex8b01782566917065"
            },
            {
              "name": "x-api-key",
              "value": " 57e12db9e36e2b82afa82c53b8c8453a1d37105fb201df9a2d164eae8bf3a4f6"
            },
            {
              "name": "content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"dsautorecr_ex8b01782566917065\",\n  \"phone\": \"{{ $('FLowmingow').item?.json?.phone || $('Get a row1').item?.json?.phone || '0000000000' }}\",\n  \"message\": \"Dear {{ $('FLowmingow').item?.json?.candidateName || $('FLowmingow').item?.json?.name || 'Candidate' }}, Thank you for applying for the position. We appreciate your time and effort, but unfortunately, we are not moving forward with your application at this time. Please check your email for more detailed feedback.\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        656
      ],
      "id": "e30f067b-e798-49ef-a611-b7bad25ea625",
      "name": "HTTP Request2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wam.s0226.digitalsofts.com/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "dsautorecr_ex8b01782566917065"
            },
            {
              "name": "x-api-key",
              "value": " 57e12db9e36e2b82afa82c53b8c8453a1d37105fb201df9a2d164eae8bf3a4f6"
            },
            {
              "name": "content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"dsautorecr_ex8b01782566917065\",\n  \"phone\": \"{{ $('Get a row1').item.json.phone }}\",\n  \"message\": \"Dear {{ $('Get a row1').item.json.name }}, We have sent you a technical assignment. Please check your email!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1712,
        -304
      ],
      "id": "8b89eeed-79e5-4e7a-bff0-93882255bcdd",
      "name": "HTTP Request3",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wam.s0226.digitalsofts.com/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "dsautorecr_ex8b01782566917065"
            },
            {
              "name": "x-api-key",
              "value": " 57e12db9e36e2b82afa82c53b8c8453a1d37105fb201df9a2d164eae8bf3a4f6"
            },
            {
              "name": "content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"dsautorecr_ex8b01782566917065\",\n  \"phone\": \"{{ $('Get a row').item.json.phone }}\",\n  \"message\": \"Dear {{ $('Get a row').item.json.name }}, Congratulations! Please check your email to schedule your interview.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3040,
        -448
      ],
      "id": "e9a319b4-c8b4-4bb5-9948-61232a9f3a39",
      "name": "HTTP Request4",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wam.s0226.digitalsofts.com/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "dsautorecr_ex8b01782566917065"
            },
            {
              "name": "x-api-key",
              "value": " 57e12db9e36e2b82afa82c53b8c8453a1d37105fb201df9a2d164eae8bf3a4f6"
            },
            {
              "name": "content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"dsautorecr_ex8b01782566917065\",\n  \"phone\": \"{{ $('Get a row').item.json.phone }}\",\n  \"message\": \"Dear {{ $('Get a row').item.json.name }}, Thank you for submitting. Please check your email for further details.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3184,
        656
      ],
      "id": "2c5150c6-bd26-4430-b6e2-fe9af30bb862",
      "name": "HTTP Request5",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "candidates",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $('Receive Candidate Data').item.json.body.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -144,
        -768
      ],
      "id": "2a63f512-0593-48fe-9104-fa234a12337b",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "J0YHsIDipX8j8qwL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "candidates",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{ $json.body.data.candidate_email }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "interview_score",
              "fieldValue": "={{ Math.round($('FLowmingow').item.json.body.data.evaluation_score * 10) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -720,
        368
      ],
      "id": "79f85e10-a67f-46d5-84b8-e559f161a736",
      "name": "Update a row4",
      "credentials": {
        "supabaseApi": {
          "id": "J0YHsIDipX8j8qwL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "candidates",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.email }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -512,
        368
      ],
      "id": "094bb31e-2c5d-4963-ac49-7d584dacb897",
      "name": "Get a row1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "J0YHsIDipX8j8qwL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "assignments",
        "filters": {
          "conditions": [
            {
              "keyName": "candidate_id",
              "condition": "eq",
              "keyValue": "={{$json.candidate_id}}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "assignment_title",
              "fieldValue": "={{$json.assignment_title}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1072,
        128
      ],
      "id": "42e20ee1-c2b9-49e3-ada0-a16aaa2dae8f",
      "name": "Update a row5",
      "credentials": {
        "supabaseApi": {
          "id": "J0YHsIDipX8j8qwL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\n\nconst titleMatch = output.match(/TITLE:\\s*(.+)/);\nconst title = titleMatch ? titleMatch[1].trim() : 'Technical Assignment';\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    assignment_title: title,\n    assignment_text: output\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        144
      ],
      "id": "fa739924-7eb1-4615-91af-d382b6df0692",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cal-booking",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3840,
        -368
      ],
      "id": "75439962-add1-4895-ba04-766d7660ce5c",
      "name": "Webhook",
      "webhookId": "3da0fe4c-2654-4aaf-95de-d516864f4d80"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "candidates",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "eq",
              "keyValue": "={{$json.body.payload.attendees[0].email}}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "cal_booking_date",
              "fieldValue": "={{$json.body.payload.startTime}}"
            },
            {
              "fieldId": "cal_booking_time",
              "fieldValue": "={{new Date($json.body.payload.startTime).toLocaleTimeString('en-PK', {timeZone: 'Asia/Karachi'})}}"
            },
            {
              "fieldId": "cal_booking_status",
              "fieldValue": "booked"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4048,
        -368
      ],
      "id": "7a4af0f5-ad5d-4cff-a377-50e41451bd21",
      "name": "Update a row6",
      "credentials": {
        "supabaseApi": {
          "id": "J0YHsIDipX8j8qwL",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "79db0b05-b892-4b22-af97-b1ef50dfbf88",
              "leftValue": "={{ $json.body.event_type }}",
              "rightValue": "interview.evaluation.update",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1152,
        368
      ],
      "id": "527e0b1c-f213-4edb-b3e9-0900b68e6fe5",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -848,
        656
      ],
      "id": "8d7c981e-4e71-48dd-b140-46aa4e862647",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Receive Candidate Data": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Technical Assignment": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Technical Assignment",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Assignment Email": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Cal.com Booking Link": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Interview Scheduling Email": {
      "main": [
        [
          {
            "node": "Create Cal.com Booking Link",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Rejection Email": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FLowmingow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Rejection Email1": {
      "main": [
        [
          {
            "node": "Update a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Score Above 50": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check interview score above 50": {
      "main": [
        [
          {
            "node": "Generate Technical Assignment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "check assignment score 50",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check assignment score 50": {
      "main": [
        [
          {
            "node": "Send Interview Scheduling Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Email2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Rejection Email2": {
      "main": [
        [
          {
            "node": "Update a row3",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Check Score Above 50",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row4": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Check interview score above 50",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row5": {
      "main": [
        [
          {
            "node": "Send Assignment Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update a row5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Update a row6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update a row4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e8a85e42-3d62-4663-8045-e4af6971e4d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "846c12274aa2b9fa61c4bcaed23ae8cd4724ff1c4c581f840039a667ce788f6d"
  },
  "nodeGroups": [],
  "id": "S73ibtoqFNyDGqv9",
  "tags": []
}
